.formSearch{
	color: #28444f;
	float: right;
	font-size: 18px;
}
.formSearch button{
	border: 1px solid #28444f;
	background-color: #27263D;
	color: #28444f;
}
.formSearch button:hover{
	border: 1px solid red;
	color: #7aa899;
}

.selection {
	background-color: #7aa899;
}	

.top-menu{
	height: 100px;
	background-color: #ffffff;
	border: 5px solid #28444f;
	text-align: left;
}	
body{
	background-image: url(cell.png);
}

.top-menu ul li{
display: inline-block;
font-size: 22px;
}

h2{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #28444f;
}

h1{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #28444f;
}
h3{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #28444f;
}
.top-menu a{
	display: block; /* ссылка растягивается на весь пункт li */
	padding: 15px 35px; /* задаем внутренние отступы */
	color: #28444f; /* цвет текста */
	/*text-decoration: none; /* убрать нижнее подчёркивание у ссылок */
}	
.top-menu a:hover{
	/*background-color: #7aa899;*/
	color: #7aa899;
}	

.logo {
	display: inline-block; 
	padding: 25px;
	margin-left: 30px;
	float: left;
}
.auth{
	display: inline-block; 
	 float: right;
}
.auth ul li{
	display: inline-block;
	/*text-align: center;*/
	font-size: 22px;
}
.auth a{
	display: block; /* ссылка растягивается на весь пункт li */
	padding: 15px 35px; /* задаем внутренние отступы */
	color: #28444f; /* цвет текста */
	text-decoration: none; /* убрать нижнее подчёркивание у ссылок */
}	
.auth a:hover{
	background-color: #7aa899;
	color: white;
}	
.content{
	/*background-color: white;*/
	min-height: 800px;
}
.footer{
	height: 100px;
	background-color: #27263D;
	border: 5px solid #28444f;
	text-align: left;
	font-size: 14px;
	color: #28444f;
}
#tableActor table {
	margin-left: auto;
    margin-right: auto;
}
#tableActor td {
	width: 400px;
	vertical-align: top;
	font-size: 20px;
	color: #28444f;
}

#tableActor a {
	color: #28444f; /* цвет текста */
	text-decoration: none; /* убрать нижнее подчёркивание у ссылок */
}
#tableActor a:hover {
	color: #7aa899;
}
#ajaxDiv table { 
	margin-left: auto;
    margin-right: auto;
	border-collapse: collapse;
	margin: center;
	text-align: center;
}
#ajaxDiv th {
	background-color: #27263D;
	height: 50px;
	color: #28444f;
}
#ajaxDiv td,th {
	border: 2px solid #28444f;
	font-size: 18px;
	margin: center;
	width: 200px;
	color: #28444f;
}

#ajaxDiv {
	margin: center;
	text-align: center;
}

#ajaxDiv button{
	background-color: #28444f;
	color: white;
	width: 290px;
	font-size: 18px;
}

#ajaxDiv button:hover{
	background-color: #28444f;
	color: red;
	width: 290px;
	font-size: 18px;
}


.formInput {
	text-align: center;
	border: 5px solid #28444f;
	/*background-color: white;*/
	color:#28444f;
	font-size: 18px;
	width:870px;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.formInput input{
	width: 98%;
}

.formInput th{
	color: red;
}

.formInput textarea{
	width: 98%;
	height: 100px;
}

.formInput button{
	background-color: #28444f;
	color: white;
	width: 98%;
	padding: 10px;
	font-size: 18px;
}

.formInput button:hover{
	color: #7aa899;
	width: 98%;
	padding:  10px;
}

#actor{
	color: #28444f; /* цвет текста */
	text-decoration: none; /* убрать нижнее подчёркивание у ссылок */
}
#actor:hover{
	color: #7aa899; /* цвет текста */
}
#buttonA {
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	width: 198px;
	height: 198px;
	font-size: 18px;
	background-color: #27263D;
	color: #28444f;
}
#buttonA:hover {
	border: 1px solid red;
	background-color: #28444f;
	color: #7aa899;
	width: 198px;
	height: 198px;
	font-size: 18px;
}

.mainPage{
	text-align: center;
	/*background-color: white;*/
	color:#28444f;
	font-size: 18px;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#imgBorder{
	border: 5px solid #28444f;
}

.cinoteatr{
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	
}

.cinoteatr button {
	background-color: #28444f;
	color: white;
	width: 98%;
	padding: 10px;
	font-size: 18px;
}
.cinoteatr button:hover {
	background-color: #28444f;
	color: #7aa899;
	width: 98%;
	font-size: 18px;
}
.mesta{
	float:left;
	width: 60px;
	height: 60px;
	background: silver;
	margin: 5px;
	text-align: center;
	cursor: pointer;
}

#actorsFromSpectacle button{
	background-color: #28444f;
	color: white;
}
#actorsFromSpectacle button:hover{
	background-color: #28444f;
	color: red;
}